@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
  html {
    font-family: 'Poppins', sans-serif;
  }
}

@layer base {}

@keyframes progress-indeterminate {
  0% { left: -40%; width: 40%; }
  100% { left: 100%; width: 40%; }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes pulse-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress-indeterminate {
  position: relative;
  animation: progress-indeterminate 1.5s infinite linear;
}

.animate-dash {
  animation: dash 1.5s infinite linear;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.animate-pulse-left-to-right {
  animation: pulse-left-to-right 1.5s ease-in-out infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
} 